{% extends "base.html" %}

{% block content %}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="col-md-11 col-lg-10 mx-auto">
        <div class="heading_container heading_center">
          <h2>
            About Me
          </h2>
        </div>
        <div class="box">
          <div class="col-md-7 mx-auto">
            <div class="img-box">
              <img src="images/me.jpg" class="box-img" alt="">
            </div>
          </div>
          <div class="detail-box">
            <p>
              <br>My name is Itipat Polkhankosit and let's work together.<br>
              I'm a passionate hobbyist developer who loves learning new things and constantly improving my skills. I'm seeking an entry-level developer position where I can grow professionally, contribute to a team, and take on real-world challenges. I'm a quick learner, creative thinker, and problem solver with strong attention to detail. I'm self-motivated, team-oriented, and always eager to explore new technologies and ideas
            </p>
            <a href="https://hooterblog.onrender.com/">Here my blog</a>
            <a href="https://hooterblog.onrender.com/">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
            <br><br>
          <div class="contact_form_section">
            <div class="container">
              <div class="col-md-8 col-lg-6 mx-auto">

                <div class="text-center mb-4">
                  <h3>Get in Touch</h3>
                  <p>Let’s work together!</p>
                </div>

                <form action="https://formspree.io/f/xrbrzvqr" method="POST">

                  <div class="form-floating mb-3">
                    <input class="form-control" id="name" name="name" type="text" placeholder="Your Name" required>
                    <label for="name">Full name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" required>
                    <label for="email">Email address</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="Phone Number" required>
                    <label for="phone">Phone number</label>
                  </div>

                  <div class="form-floating mb-3">
                    <textarea class="form-control" id="message" name="message" placeholder="Enter your message..." style="height: 10rem" required></textarea>
                    <label for="message">Message</label>
                  </div>

                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">
                      Submit
                    </button>
                  </div>

                </form>

              </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

 


{% endblock %}