{% extends "base.html" %}

{% block content %}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="col-md-11 col-lg-10 mx-auto">
        <div class="heading_container heading_center">
          <h2>
            About Me
          </h2>
        </div>
        <div class="box">
          <div class="col-md-7 mx-auto">
            <div class="img-box">
              <img src="images/me.jpg" class="box-img" alt="">
            </div>
          </div>
          <div class="detail-box">
            <p>
              <br>My name is Itipat Polkhankosit and let's work together.<br>
              I'm a passionate hobbyist developer who loves learning new things and constantly improving my skills. I'm seeking an entry-level developer position where I can grow professionally, contribute to a team, and take on real-world challenges. I'm a quick learner, creative thinker, and problem solver with strong attention to detail. I'm self-motivated, team-oriented, and always eager to explore new technologies and ideas
            </p>
            <a href="https://hooterblog.onrender.com/">Here my blog</a>
            <a href="https://hooterblog.onrender.com/">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

 


{% endblock %}